
:root{
	--color-light: #E6E7E8;
	--color-card:white;
	--color-light-dark: #CCC;	
	--color-primary:#6002EE;
	--color-secondary:#ee6002;
	--color-primary-light:#d4bff9;
	--page-width:275px;
}

/*
font-weight:
400 - Regular
700 - Bold


*/

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family: "Helvetica", Sans-Serif;
	font-size:16px; 
}


/*Simple change to make responsive*/
@media screen and (min-width: 400px){
	*{
		font-size:16px;
		
	}
	
	.card_container{
		max-width:360px;
		margin: 25px 25px;
		border-radius:5px;
	}
	
}


body{
	background-color: var(--color-light);	
}

.container{
	display:flex;
	flex-direction:row;
	flex: 1 1 auto;
	/* align-items:flex-start; /*means that the box doesn't expand to the bottom */ */
	
}

.card_container.standard{
	overflow:visible;
}

.card_container{
	display:flex;
	flex: 1 1 auto;
	align-items:flex-start;
	overflow:hidden;
	min-height:725px; /*How to make this flex*/
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
	/* margin: 25px 25px; */
	border-radius:none;
	background-color:var(--color-card);
	
}



.wrapper{
	display:flex;
	flex: 1 1 auto;
	position:relative;
	background-color:white;
	transition: transform 0.4s;
}

.slide-in{
	/* transform:translateX(-275px); */
	/* transform:translateX(-100vw); */
	transform:translateX(-100%);
}

.card{
	display:flex;
	flex-direction:column;
	flex:1 1 auto; /* grow-none, shrink-none, basis - how spreads out */

	background-color:var(--color-card);
	/* width:var(--page-width); */
	/* min-height:300px; */
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
	/* position:relative; */	
}

.card1{
	position:relative;
}


.card2, .card3, .card4, .card5, .card6, .card7{
	position:absolute;
	width:100%;
	/* transform:translateX(100vw); */
	transform:translateX(100%);
}

.card.hidden{
	/* display:none; */
	visibility:hidden;
}

/* Main header */
.card_header{
	display:flex;
	flex: 1 1 auto;
	position:relative;
	
	min-height:50px;
	background-color:var(--color-primary);
	padding:10px 10px;
	border-radius: 0 0 20px 20px;
	color:white;
	font-weight:500;
	font-size:1.2rem;
	
	cursor:default;
}

/*buttons in the main header*/
.fab{
	/* display:none; */
	position:absolute;
	border-style:none;
	color:white;
	bottom:-15px;
	margin:auto;
	font-size:1.5rem;
	background-color:var(--color-light-dark);
	border-radius: 15px;
	min-height:30px;
	min-width:40px;
	margin:0px;
	padding: 10px;
	text-align:center;
	font-size:0.75rem;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	z-index:5;
	outline:none;
}

.fab.change{
	background-color:var(--color-secondary);
	animation-name: shake;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;  
}

@keyframes shake {
  0% {transform: translateX(0);}
  1% {transform: translateX(-3px);}
  2% {transform: translateX(5px);}
  3% {transform: translateX(-8px);}
  4% {transform: translateX(8px);}
  5% {transform: translateX(-5px);}
  6% {transform: translateX(3px);}
  7% {transform: translateX(0);}
}

.fab.change:after{
	content:"CALCULATE";
}

.fab:after{
	content:"\21bb";
}


.explore{
	display:none;
	position:absolute;
	top:7px;
	right:15px;
	font-weight:700;
	border:none;
	color:white;
	background-color:var(--color-primary);
	outline:none;
}
/* --- */


.card_body{
	display:flex;
	flex-direction:column;
	flex: 1 1 auto;
	position: relative;
	

	/* justify-content:flex-start;	 */
	
}

.card_item{
	/* border: 1pt solid; */
	display:flex;
	flex-direction:column;
	flex: 1 1 auto;
	position:relative;
	padding:10px 30px 10px 30px;
	border-bottom: 1pt solid var(--color-light-dark);
	
}

.card_item:last-of-type{
	border-bottom: none;
}

.card_item.home_screen{
	padding:10px 30px 10px 10px;
}

.result{
	font-weight:700;
	font-size:1.4rem;
	/* background-color:var(--color-primary-light); */
	/* box-shadow: 0 0 8px 0 rgba(0,0,0,0.2); */
	border:none;
	margin:0;
	/* padding:10px 30px 10px 10px; */
	
	
}

.card_heading{
	display:flex;
	flex:1 1 auto;
	font-weight:700;
	font-size:1rem;
	color:var(--color-primary);
	
	margin: 0 0 5px 0;
}
.card_heading.disabled{
	color: var(--color-light-dark);
}



.card_subheading{
	display:flex;
	flex:1 1 auto;
	font-size:0.8rem;
	line-height: 1.1rem;
}

ul{
	list-style-type: none;
}


/* i{   was this selector before*/

.arrow {
  border: solid var(--color-primary);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position:absolute;
  right:15px;
  top:50%;
    transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}



/* Control formatting */

.text_Input, select{
	width:100%;	
	border:none;
	/* padding:10px 10px 5px 10px; */
	padding:0.7rem 0.7rem 0.3rem 0.7rem;
	text-align:right;	
	background: var(--color-light);
	border-radius: 5px 5px 0 0;
	border-bottom: 2px solid var(--color-light-dark);
}

.pc_input{
	/* padding:10px 20px 5px 10px; */
	padding:0.7rem 1.4rem 0.3rem 0.7rem;
}


select{
	text-align-last:right;
	padding-right:0;
}

.text_Input:focus, select:focus{
	outline:none;
	border-bottom: 2px solid var(--color-primary);
}


option{
	direction:rtl;
}

.btn{
	font-size:1rem;
	width:100px;
	padding: 10px;
	border:none;
	border-radius: 5px;
	box-shadow:none;
	background-color: var(--color-primary);
	color:white;
	margin:auto;
	margin-top:20px;

}



.radio_container{
	display:inline-block;
	position:relative;
	/* border: 1px solid; */
	min-width:100px;
}

.radio_container input{
	display:absolute;
	opacity:0;
	cursor:pointer;
	height:0;
	width:0;
}

.radio_mark{
	/* margin:auto; */
	margin-right:0.3rem;
	padding: 7px 5px 7px 5px;
	text-align:center;
	/* width:4rem; */
	/* border: 1pt solid;  */
	border-radius:20px;
	background-color: var(--color-light);
	color: var(--color-light-dark);
}


.radio_container input:checked ~ .radio_mark{
	color:var(--color-primary);
	background-color: var(--color-primary-light);
	
}

#Other{
	line-height:1.4rem; /*1.3rem to 1.7 rem */
}


.percentage_holder{
	display:flex;
	flex: 1 1 auto;
	position:relative;
}

.percentagePadding{
	position:absolute;
	/* right:5px; */
	/* top:10px; */
	right: 0.3rem;
	top: 0.7rem;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
	-webkit-appearance:none;
	margin:0;
}

#card_header_front{
	flex-direction:column;
	align-items:center;
	min-height:100px;
	padding-top:20px;
	margin-bottom:10px;
	border-radius: 0 0 50px 50px;
	font-size: 1rem;
	
}



#YOB_detail{
	margin-top:5px;
	font-size:0.8rem;
	color:var(--color-primary);
	text-align:right;
}



.dropdown{
	position:absolute;
	right:20px;
	top:20px;
}

/*
.dropdown:hover .dropdown-content{
	display:flex;
	flex-direction:column;
	flex: 1 0 auto;
}
*/


#menubutton{
	outline:none;
	background-color:var(--color-primary);
	color:var(--color-card);
	border:none;
	font-size:1.2rem;
	width:15px;
}

.dropdown-content{
	display:none; /*change to none in live version*/
	flex-direction:column;
	flex: 1 0 auto;
	position:absolute;
	left:-19rem;
	width:19rem;
	top:0px;
	background-color: var(--color-card);
	border: 1pt solid var(--color-light-dark);
	border-radius:10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
	z-index:10;
}

.dropdown-content.visible{
	display:flex;
	flex-direction:column;
	flex: 1 0 auto;
}


#menubutton:hover{
	cursor:pointer;
}


#menubutton:focus{
	/* color:var(--color-primary); */
}

/* #menubutton:hover .dropdown-content{ */
	/* display: inline-block;	 */
/* } */



.dropdown-content a{
	display:block;
	color:black;
	text-decoration:none;
	border-bottom: 1pt solid var(--color-light);
	font-size:1.2rem;
	padding:10px;
}

.dropdown-content a:hover{
	/* font-weight:550; */
	
	padding-right:5px;
	background-color:var(--color-primary-light);
	color:var(--color-primary);
}

.dropdown-icon{
	color:var(--color-primary);
	margin-right:5px;
	min-width:25px;
}

.QR-content{
	display:flex;
	flex: 1 1 auto;
	justify-content:center;
	margin-top: 10px;
	
	
	
	
}
